dnspython
motor
psutil
pyrofork==2.3.45
python-dotenv
telethon
TgCrypto
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
yt-dlp
pyrogram==2.0.106
tgcrypto==1.2.5
requests
aiohttp
aiofiles
pyTelegramBotAPI==4.9.0
aioredis==2.0.1
pillow
tqdm
mega.py
nest_asyncio
gradio>=4.0.0
ffmpeg-python